@import "../../styles/communs.scss";

.containerDetailCat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
}

.chatsexeImg {
  position: absolute;
  width: 25px;
  height: 25px;
}
.contaireDetailLeft{
  outline: 1px solid green;
width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}