.container{
    margin: 20px;
    width: 479px;
    height:479px;
    background-color: #002a3d;
   
}
.title{
    color:white;
    text-align:center;
}
.containerImg{
    width:200px;height:220px;margin-left: 10px; 
   background-color:#5b9bd5;
}
.chatImg{
    padding-top:10px;
    padding-bottom: 10px;
width:200px;height:200px; 
object-fit: contain;
}
.bodyCard{
    //border: 5px solid yellowgreen; 
    display: flex;
}