 @import '../../styles/communs.scss';

.containerCard{
    margin: 50px;
    width:600px;
    height:auto;
    background-color: $colorBlue;
   padding-left: 30px;
   padding-right: 3px;
     padding-bottom: 20px;
   border-radius:15px;
   display: flex;
   flex-direction: column;
   justify-content:center;
}
.containerImgDescription{
       display: flex;
}
.containerDescriptionDetail{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.chatImg{
width:250px;
height:250px; 
border-radius:150%;
object-fit: contain;
background-color: $colorBlueDark;
border: thick double $colorBlueDark ;
}

    
/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: $colorWhite;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: $colorWhite transparent transparent $colorWhite;
}



/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.nameCat{
  //outline:1px solid $colorBlueDark;
  border: thick double $colorBlueDark ;
  border-radius:20%;
  text-align:center;
  font-size:30px;
  color:$colorBlueDark;
  font-weight:bold;
}