.logoImg{
    width:80px;
    height:60px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid white;
}
.footer{
  //border: 1px solid white;
    display: flex;
    font-size:10px;
    color:white;
    //outline:1px solid white;
    justify-content:flex-end;
  padding-right:20px;
  margin-top:40px;
  }

  .containerSignature{
margin-top:-5px;
  }