.logoImg{
    width:80px;
    height:70px;
    object-fit: cover;
    padding-right: 10px;
}
.footer{
    display: flex;
    font-size:12px;
    color:white;
    outline:1px solid white;
    justify-content:flex-end;
  padding-right:20px;
  margin-top:25px;
  }