@import "../../styles/communs.scss";
.logoImg {
  width: auto;
  height: 70px;
  object-fit: cover;
  border: 1px solid $colorWhite;
}
.footer {
  position: relative;
  bottom: -10px;
  height: 70px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.containerSignature {
  font-size: 10px;
  color: $colorWhite;
}
