.logoImg{
    width:auto;
    height:70px;
    object-fit: cover;
   border: 1px solid white;
}
.footer{
  position:relative;
  bottom:-10px;
  height:70px;
  width:auto;
  border: 1px solid green;
 display: flex;
 justify-content:space-around;
 align-items:center;
 text-align:center;
  }

  .containerSignature{
outline:2px solid white;
font-size:10px;
color: white;
  }