@import "../../styles/communs.scss";

.footer {
  position: relative;
  bottom: -10px;
  height: 80px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 11px ridge $colorWhite ;margin-right: 30px;
}
.logoImg {
  width: auto;
  height: 80px;
  object-fit: cover;
 
}
.containerSignature {
  font-size: 11px;
  color: $colorWhite;
}
